body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.branding{
	font-family: 'Graduate', cursive;
	font-size: 48px;
}

.beerDisplay, .beerSearch{
	margin-top: 2%;
}
.beerDisplay h2{
	margin: 5px 0 10px;
}

.alert{
	margin: 10px auto 0;
}

.feature{
	font-weight: bold;
}

.beerRecs{
	box-shadow: 1px 2px 3px #eee;
}

.beerRecs h2{
	margin-top:0;
}